* {
  margin: 0;
  padding: 0;
}

:root {
  --mainColor: #ec3f3f;
  --secondaryColor: #4b9643;
  --darkGray: #303030;
  --gray: #666666;
  --white: #ffffff;
  --black: #000000;
}

body {
  font-family: "Helvetica Neue";
  background-color: var(--white);
  color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue";
}

p {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}
